.header{
    background: rgb(52, 51, 51);
    width:100%;
    text-align: left;
    position: absolute;
    color: white;
    height: 50px;
    /* margin-left: 0;
    margin-top: 0; */
    top:0;
    left:0;
    padding-left: 10px;
    padding-bottom: 5px;
}
.header h2{
    margin-top: 10px;
}